In [1]:
from sklearn import tree
import pandas as pd
import os
import numpy as np
df=pd.read_csv("Resources/Adults_Diabetes_NHANES_2011_2012.csv")

df.head()

,seqn,first,last,gender,age,race,education,marital,income,household_size,...,trigs,wbc,hgb,hct,platelets,s_cotinine,a1c,hdl,grip_strength,fev1_fvc_ratio
0,69220,Gwendolyn,Runolfsson,1,21,7,2.0,6.0,1.0,2,...,54.0,6.0,12.7,36.1,157.0,0.654,5.0,47.0,50.3,0.78
1,63030,Augustus,Farrell,0,21,1,2.0,6.0,3.0,4,...,83.0,6.9,15.1,44.4,226.0,0.221,5.2,40.0,90.1,0.84
2,64051,Aaron,Schmeler,0,21,2,3.0,5.0,4.0,3,...,256.0,8.2,14.4,41.3,266.0,0.011,5.1,38.0,72.7,0.83
3,65141,Bob,Bechtelar,0,21,1,2.0,5.0,4.0,4,...,57.0,6.6,14.7,43.0,206.0,16.300,5.1,55.0,86.6,0.83
4,64632,Hayden,Brekke,0,21,2,3.0,5.0,10.0,2,...,70.0,7.8,15.6,45.1,306.0,212.000,6.0,39.0,94.4,0.83

In [2]:
df_1=df.drop(columns=['first', 'last','drinks_day', 'depression','fev1_fvc_ratio'])
#Remember to Add back SEQN for ETL

df_1.head()

,seqn,gender,age,race,education,marital,income,household_size,insurance,gen_health,...,glob,trigs,wbc,hgb,hct,platelets,s_cotinine,a1c,hdl,grip_strength
0,69220,1,21,7,2.0,6.0,1.0,2,1,3.0,...,2.9,54.0,6.0,12.7,36.1,157.0,0.654,5.0,47.0,50.3
1,63030,0,21,1,2.0,6.0,3.0,4,2,3.0,...,2.8,83.0,6.9,15.1,44.4,226.0,0.221,5.2,40.0,90.1
2,64051,0,21,2,3.0,5.0,4.0,3,1,3.0,...,3.0,256.0,8.2,14.4,41.3,266.0,0.011,5.1,38.0,72.7
3,65141,0,21,1,2.0,5.0,4.0,4,1,4.0,...,2.6,57.0,6.6,14.7,43.0,206.0,16.300,5.1,55.0,86.6
4,64632,0,21,2,3.0,5.0,10.0,2,1,2.0,...,2.9,70.0,7.8,15.6,45.1,306.0,212.000,6.0,39.0,94.4

In [3]:
len(df_1)

5206

In [4]:
df1=df_1.dropna()
len(df1)

3260

In [5]:
#BMI 
#0= BMI less than 25
#1= BMI less than 30 and BMI great than 24
#2=BMI great than 30

conditions = [
   df1['bmi'] <25,
    (df1['bmi'] >=25) & (df1['bmi'] <30),
   df1['bmi'] >=30
]
choices = [0,1, 2]
df1['bmi_group'] = np.select(conditions, choices, default=1)

#df1['bmi_group'] = 1
#df1.loc[df1['bmi'] >=30,'bmi_group'] = 2
#df1.loc[df1['bmi'] <24,'bmi_group']= 0

df1[["bmi","bmi_group"]].sample(50)

/Users/tajudeenadeyemi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

       bmi  bmi_group
2312  24.5          0
1535  23.1          0
1653  25.8          1
1082  23.3          0
2482  27.1          1
3531  25.3          1
3257  27.3          1
4493  20.4          0
3229  29.9          1
2014  20.6          0
2506  27.5          1
4938  23.2          0
2436  32.3          2
4467  36.8          2
243   23.8          0
2390  30.2          2
2772  27.1          1
4571  26.8          1
2110  31.8          2
4643  27.6          1
4150  29.0          1
496   36.3          2
5012  20.5          0
4653  27.8          1
1493  29.2          1
4173  24.7          0
2343  24.0          0
5008  32.1          2
1546  24.1          0
1328  21.8          0
2646  33.8          2
4071  26.2          1
860   29.6          1
3217  31.9          2
158   26.6          1
521   25.8          1
1651  45.5          2
3434  17.9          0
3455  31.0          2
2668  29.2          1
535   26.4          1
53    19.3          0
4317  35.8          2
5027  18.5          0
156   21.0          0
3728  24.3          0
4723  22.9          0
1482  25.0          1
3642  21.7          0
797   29.4          1

In [6]:


#Age Group 

# 0=  0-20
# 1=  21-30
# 2=  31-45
# 3=  46-65
# 4=  65+
conditions1 = [
    (df1['age'] >20)&(df1['age'] <31),
    (df1['age'] >30)&(df1['age'] <46),
    (df1['age'] >45)&(df1['age'] <66),
    df1['age'] >65
]
choices1 = [1, 2, 3,4]
df1['age_group'] = np.select(conditions1, choices1, default=0)





#df1['age_group'] = 0
#df1.loc[(df1['age'] >20)&(df1['age'] <31),'age_group'] = 1
#df1.loc[(df1['age'] >30)&(df1['age'] <46),'age_group']= 2
#df1.loc[(df1['age'] >45)&(df1['age'] <66),'age_group'] = 3
#df1.loc[df1['age'] >65,'age_group'] = 4

df1[["age","age_group"]].sample(50)

/Users/tajudeenadeyemi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

      age  age_group
5116   80          4
2778   51          3
887    30          1
2348   46          3
2438   47          3
3848   63          3
2964   53          3
2661   50          3
3685   61          3
3030   54          3
4909   80          4
184    22          1
3686   61          3
4036   64          3
4329   69          4
4263   68          4
1540   37          2
2078   43          2
1139   33          2
2255   45          2
2334   46          3
4511   71          4
930    30          1
4671   74          4
313    24          1
1875   41          2
464    25          1
2682   50          3
955    31          2
4740   76          4
4173   66          4
429    25          1
3175   55          3
2697   50          3
3250   56          3
2477   47          3
637    27          1
3165   55          3
4558   72          4
2413   47          3
4408   70          4
1248   34          2
365    24          1
3834   62          3
5190   77          4
93     21          1
1592   38          2
45     21          1
4051   65          3
4257   68          4

In [7]:
#Blood Pressure Group 
#Systolic Blood Pressure less than 120 and Diastolic Blood Pressure of less than 80
#Systolic Blood Pressure between 120 and 129 and Diastolic Blood Pressure of less than 80
#Systolic Blood Pressure greater than 130 or  Diastolic Blood Pressure of greater than 80

conditions2 = [
    (df1['sys_bp'] <120)&(df1['dia_bp'] <80),
   (df1['sys_bp'] >119)&(df1['sys_bp'] <=129)&(df1['dia_bp'] <80),
    (df1['sys_bp'] >129)|(df1['dia_bp'] >=80),
 
]
choices2 = [0, 1, 2]
df1['bp_group'] = np.select(conditions2, choices2, default=0)
#df1['bp_group'] = 0
#df1.loc[(df['sys_bp'] <120)&(df1['dia_bp'] <80),'bp_group'] = 0
#df1.loc[(df['sys_bp'] >119)&(df1['sys_bp'] <=129)&(df['dia_bp'] <80),'bp_group'] = 1
#df1.loc[(df['sys_bp'] >129)|(df1['dia_bp'] >=80),'bp_group'] = 2


df1[["sys_bp","dia_bp","bp_group"]].sample(50)

/Users/tajudeenadeyemi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

      sys_bp  dia_bp  bp_group
4731   120.0    68.0         1
4103   128.0     0.0         1
4723   126.0    72.0         1
2621   122.0    88.0         2
3479   112.0    74.0         0
1785   134.0    78.0         2
891    108.0    76.0         0
4051   150.0    54.0         2
1016   106.0    74.0         0
3380   138.0    72.0         2
1731   106.0    68.0         0
531    112.0    72.0         0
4609   126.0    72.0         1
2355   132.0    78.0         2
2917   116.0    76.0         0
4245   110.0    68.0         0
1981   128.0    88.0         2
840    128.0    74.0         1
1151   116.0    66.0         0
922    108.0    70.0         0
4718   120.0    54.0         1
1317   136.0    74.0         2
3837   162.0    74.0         2
4634   118.0    64.0         0
2416   124.0    66.0         1
4537   154.0    78.0         2
3150   114.0    72.0         0
1701   118.0    78.0         0
1982   124.0    74.0         1
3923   120.0    64.0         1
2284   110.0    72.0         0
4046   122.0    80.0         2
2063   112.0    66.0         0
691    116.0    66.0         0
163    110.0    58.0         0
4361   106.0    68.0         0
628     90.0    50.0         0
3869   164.0    64.0         2
169    122.0    66.0         1
776    106.0    64.0         0
1424   122.0    62.0         1
157    114.0    66.0         0
771    118.0    78.0         0
3632   124.0    68.0         1
1907   104.0    62.0         0
1405   100.0    62.0         0
4572   116.0    66.0         0
4678   136.0    68.0         2
3065   118.0    76.0         0
2154   104.0    56.0         0

In [7]:
df2=df1.drop(columns=['seqn'])

In [11]:
target = df2["diabetes"] 
target_names = [1,2,3]

In [10]:
data = df2.drop("diabetes", axis=1) 
feature_names = data.columns 
data.head()

,gender,age,race,education,marital,income,household_size,insurance,gen_health,asthma,...,wbc,hgb,hct,platelets,s_cotinine,a1c,hdl,grip_strength,bmi_group,age_group
0,1,21,7,2.0,6.0,1.0,2,1,3.0,2.0,...,6.0,12.7,36.1,157.0,0.654,5.0,47.0,50.3,0,1
1,0,21,1,2.0,6.0,3.0,4,2,3.0,1.0,...,6.9,15.1,44.4,226.0,0.221,5.2,40.0,90.1,1,1
2,0,21,2,3.0,5.0,4.0,3,1,3.0,2.0,...,8.2,14.4,41.3,266.0,0.011,5.1,38.0,72.7,1,1
3,0,21,1,2.0,5.0,4.0,4,1,4.0,2.0,...,6.6,14.7,43.0,206.0,16.300,5.1,55.0,86.6,0,1
4,0,21,2,3.0,5.0,10.0,2,1,2.0,2.0,...,7.8,15.6,45.1,306.0,212.000,6.0,39.0,94.4,2,1

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42, shuffle=True)

In [13]:
clf = tree.DecisionTreeClassifier() 
clf = clf.fit(X_train, y_train) 
clf.score(X_test, y_test)

0.8564417177914111

In [14]:
from sklearn.ensemble import RandomForestClassifier 
rf = RandomForestClassifier(n_estimators=75) 
rf = rf.fit(X_train, y_train) 
rf.score(X_test, y_test)

0.9177914110429448

In [15]:
feature_imp=sorted(zip(rf.feature_importances_, feature_names), reverse=True)

feature_imp[1][0].dtype

dtype('float64')

In [28]:
remlist=['age', 'bmi','height_cm','waist_cm','weight_kg','dia_bp','sys_bp']
feats= []

for x in feature_imp: 
    if x[0]>0.01 and x[1] not in remlist:
        feats.append(x[1])
        


feats

['a1c',
 'glucose',
 'alb_cr_ratio',
 't_chol',
 'platelets',
 'cr',
 'potassium',
 'grip_strength',
 'u_acid',
 'alt',
 'alk_phos',
 'ldh',
 'bun',
 'wbc',
 'cpk',
 'trigs',
 'ast',
 'hdl',
 'sodium',
 'chloride',
 'ca',
 'iron',
 'hgb',
 'glob',
 'hct',
 'age_group',
 't_protein',
 'phos',
 'gen_health',
 'hypertension',
 's_cotinine',
 't_bilirubin']

In [29]:
group_list=["bmi_group", "age_group", "bp_group"]


for x in group_list: 
    if x not in feats: 
        feats.append(x)
        
pd.DataFrame(feats)

                0
0             a1c
1         glucose
2    alb_cr_ratio
3          t_chol
4       platelets
5              cr
6       potassium
7   grip_strength
8          u_acid
9             alt
10       alk_phos
11            ldh
12            bun
13            wbc
14            cpk
15          trigs
16            ast
17            hdl
18         sodium
19       chloride
20             ca
21           iron
22            hgb
23           glob
24            hct
25      age_group
26      t_protein
27           phos
28     gen_health
29   hypertension
30     s_cotinine
31    t_bilirubin
32      bmi_group
33       bp_group

In [18]:
diab_df =df2[feats]

In [26]:
len(feats)
feats

['a1c',
 'glucose',
 'alb_cr_ratio',
 't_chol',
 'platelets',
 'cr',
 'potassium',
 'grip_strength',
 'u_acid',
 'alt',
 'alk_phos',
 'ldh',
 'bun',
 'wbc',
 'cpk',
 'trigs',
 'ast',
 'hdl',
 'sodium',
 'chloride',
 'ca',
 'iron',
 'hgb',
 'glob',
 'hct',
 'age_group',
 't_protein',
 'phos',
 'gen_health',
 'hypertension',
 's_cotinine',
 't_bilirubin',
 'bmi_group',
 'bp_group',
 '']

In [18]:
diab_df

,a1c,glucose,alb_cr_ratio,t_chol,platelets,cpk,potassium,trigs,alk_phos,ldh,...,hct,s_cotinine,age_group,iron,gen_health,hypertension,income,alb,bmi_group,bp_group
0,5.0,82.0,11.77,118.0,157.0,35.0,3.4,54.0,44.0,75.0,...,36.1,0.654,1,165.0,3.0,2.0,1.0,4.4,0,0
1,5.2,81.0,2.37,172.0,226.0,214.0,3.5,83.0,112.0,137.0,...,44.4,0.221,1,119.0,3.0,2.0,3.0,4.5,1,0
2,5.1,87.0,3.73,168.0,266.0,73.0,3.5,256.0,103.0,112.0,...,41.3,0.011,1,68.0,3.0,2.0,4.0,4.5,1,0
3,5.1,91.0,3.74,144.0,206.0,151.0,3.6,57.0,65.0,87.0,...,43.0,16.300,1,63.0,4.0,2.0,4.0,4.8,0,0
4,6.0,89.0,3.13,104.0,306.0,250.0,4.7,70.0,55.0,104.0,...,45.1,212.000,1,121.0,2.0,2.0,10.0,4.3,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5196,5.8,98.0,49.63,185.0,178.0,62.0,3.7,80.0,42.0,127.0,...,37.0,0.011,4,132.0,3.0,1.0,2.0,4.4,0,2
5197,6.0,100.0,9.40,166.0,189.0,108.0,3.7,105.0,49.0,163.0,...,43.8,0.011,4,68.0,3.0,2.0,4.0,4.2,1,2
5199,7.0,175.0,187.41,176.0,273.0,249.0,4.7,104.0,84.0,155.0,...,35.0,0.011,4,61.0,3.0,1.0,4.0,3.8,2,2
5201,6.5,126.0,11.43,171.0,205.0,198.0,3.9,130.0,50.0,119.0,...,41.8,0.269,4,67.0,2.0,2.0,2.0,4.2,2,2
5204,6.2,103.0,3.92,181.0,213.0,236.0,3.9,67.0,80.0,138.0,...,38.7,0.035,4,69.0,3.0,1.0,3.0,4.1,2,1

In [19]:
data = df2.drop("diabetes", axis=1) 
feature_names = data.columns 
data.head()

,gender,age,race,education,marital,income,household_size,insurance,gen_health,asthma,...,hgb,hct,platelets,s_cotinine,a1c,hdl,grip_strength,bmi_group,age_group,bp_group
0,1,21,7,2.0,6.0,1.0,2,1,3.0,2.0,...,12.7,36.1,157.0,0.654,5.0,47.0,50.3,0,1,0
1,0,21,1,2.0,6.0,3.0,4,2,3.0,1.0,...,15.1,44.4,226.0,0.221,5.2,40.0,90.1,1,1,0
2,0,21,2,3.0,5.0,4.0,3,1,3.0,2.0,...,14.4,41.3,266.0,0.011,5.1,38.0,72.7,1,1,0
3,0,21,1,2.0,5.0,4.0,4,1,4.0,2.0,...,14.7,43.0,206.0,16.300,5.1,55.0,86.6,0,1,0
4,0,21,2,3.0,5.0,10.0,2,1,2.0,2.0,...,15.6,45.1,306.0,212.000,6.0,39.0,94.4,2,1,2

In [20]:
target = df2["diabetes"] 
target_names = [1,2,3]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42, shuffle=True)

In [22]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [26]:
df2["diabetes"].value_counts()

2.0    2792
1.0     390
3.0      78
Name: diabetes, dtype: int64

In [25]:
df1.to_csv('diabetes.csv', index=False,)

In [24]:
df1.columns

Index(['seqn', 'gender', 'age', 'race', 'education', 'marital', 'income',
       'household_size', 'insurance', 'gen_health', 'asthma', 'chf', 'cad',
       'mi', 'cva', 'copd', 'cancer', 'diabetes', 'hypertension', 'smoker',
       'weight_kg', 'height_cm', 'bmi', 'waist_cm', 'sys_bp', 'dia_bp',
       'alb_cr_ratio', 'alb', 'alt', 'ast', 'alk_phos', 'bun', 'ca', 'cpk',
       't_chol', 'bicarb', 'cr', 'glucose', 'iron', 'ldh', 'phos',
       't_bilirubin', 't_protein', 'u_acid', 'sodium', 'potassium', 'chloride',
       'glob', 'trigs', 'wbc', 'hgb', 'hct', 'platelets', 's_cotinine', 'a1c',
       'hdl', 'grip_strength', 'bmi_group', 'age_group', 'bp_group'],
      dtype='object')

In [41]:
import matplotlib.pyplot as plt

import seaborn as sn
corrMatrix = df1.corr().unstack().sort_values()
corr=pd.DataFrame(corrMatrix)
corr=corr.sort_values(0)
corr.tail(40)

                                 0
glucose        glucose         1.0
cr             cr              1.0
bicarb         bicarb          1.0
t_chol         t_chol          1.0
cpk            cpk             1.0
ca             ca              1.0
bun            bun             1.0
ast            ast             1.0
age_group      age_group       1.0
u_acid         u_acid          1.0
gender         gender          1.0
seqn           seqn            1.0
bmi_group      bmi_group       1.0
alb_cr_ratio   alb_cr_ratio    1.0
dia_bp         dia_bp          1.0
sys_bp         sys_bp          1.0
waist_cm       waist_cm        1.0
bmi            bmi             1.0
height_cm      height_cm       1.0
weight_kg      weight_kg       1.0
smoker         smoker          1.0
hypertension   hypertension    1.0
diabetes       diabetes        1.0
cancer         cancer          1.0
copd           copd            1.0
alb            alb             1.0
cva            cva             1.0
cad            cad             1.0
chf            chf             1.0
asthma         asthma          1.0
gen_health     gen_health      1.0
insurance      insurance       1.0
household_size household_size  1.0
income         income          1.0
marital        marital         1.0
education      education       1.0
race           race            1.0
age            age             1.0
mi             mi              1.0
bp_group       bp_group        1.0

In [46]:
from sqlalchemy import create_engine


connection_string = "postgresql://mypostgresdb.cgd9exyjeqgb.us-east-2.rds.amazonaws.com:5432/meta_b_database"
engine = create_engine(f'postgresql://{connection_string}')

ValueError: invalid literal for int() with base 10: ''

In [48]:
df1.to_sql(name = "diabetes_info", con=engine, if_exists = 'append', index = True)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^

In [47]:
import psycopg2
engine = psycopg2.connect(
    database="meta_b_database",
    user="root",
    password="12345678",
    host="mypostgresdb.cgd9exyjeqgb.us-east-2.rds.amazonaws.com",
    port='5432'
)

In [50]:
df1.to_sql('diabetes_info', con=engine, 
              schema='online', index=False, if_exists='append')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^