In [31]:
from sklearn import tree
import pandas as pd
import os

df=pd.read_csv("Resources/Adults_Diabetes_NHANES_2011_2012.csv")

df.head()

,seqn,first,last,gender,age,race,education,marital,income,household_size,...,trigs,wbc,hgb,hct,platelets,s_cotinine,a1c,hdl,grip_strength,fev1_fvc_ratio
0,69220,Gwendolyn,Runolfsson,1,21,7,2.0,6.0,1.0,2,...,54.0,6.0,12.7,36.1,157.0,0.654,5.0,47.0,50.3,0.78
1,63030,Augustus,Farrell,0,21,1,2.0,6.0,3.0,4,...,83.0,6.9,15.1,44.4,226.0,0.221,5.2,40.0,90.1,0.84
2,64051,Aaron,Schmeler,0,21,2,3.0,5.0,4.0,3,...,256.0,8.2,14.4,41.3,266.0,0.011,5.1,38.0,72.7,0.83
3,65141,Bob,Bechtelar,0,21,1,2.0,5.0,4.0,4,...,57.0,6.6,14.7,43.0,206.0,16.300,5.1,55.0,86.6,0.83
4,64632,Hayden,Brekke,0,21,2,3.0,5.0,10.0,2,...,70.0,7.8,15.6,45.1,306.0,212.000,6.0,39.0,94.4,0.83

In [32]:
df_1=df.drop(columns=['first', 'last','drinks_day', 'depression','fev1_fvc_ratio'])
#Remember to Add back SEQN for ETL

df_1.head()

,seqn,gender,age,race,education,marital,income,household_size,insurance,gen_health,...,glob,trigs,wbc,hgb,hct,platelets,s_cotinine,a1c,hdl,grip_strength
0,69220,1,21,7,2.0,6.0,1.0,2,1,3.0,...,2.9,54.0,6.0,12.7,36.1,157.0,0.654,5.0,47.0,50.3
1,63030,0,21,1,2.0,6.0,3.0,4,2,3.0,...,2.8,83.0,6.9,15.1,44.4,226.0,0.221,5.2,40.0,90.1
2,64051,0,21,2,3.0,5.0,4.0,3,1,3.0,...,3.0,256.0,8.2,14.4,41.3,266.0,0.011,5.1,38.0,72.7
3,65141,0,21,1,2.0,5.0,4.0,4,1,4.0,...,2.6,57.0,6.6,14.7,43.0,206.0,16.300,5.1,55.0,86.6
4,64632,0,21,2,3.0,5.0,10.0,2,1,2.0,...,2.9,70.0,7.8,15.6,45.1,306.0,212.000,6.0,39.0,94.4

In [33]:
len(df_1)

5206

In [35]:
df1=df_1.dropna()
len(df1)

3260

In [ ]:
#BMI 
#0= BMI less than 24 
#1= BMI less than 30 and BMI great than 24
#2=BMI great than 30


df1['bmi_group'] = 1
df1.loc[df1['bmi'] >30,'bmi_group'].copy() = 2
df1.loc[df1['bmi'] <24,'bmi_group'].copy() = 0

In [ ]:
#Age Group 

# 0=  0-20
# 1=  21-30
# 2=  31-45
# 3=  46-65
# 4=  65+

df1['age_group'] = 0
df1.loc[(df1['age'] >20)&(df1['age'] <31),'age_group'].copy() = 1
df1.loc[(df1['age'] >30)&(df1['age'] <46),'age_group'].copy() = 2
df1.loc[(df1['age'] >45)&(df1['age'] <66),'age_group'].copy() = 3
df1.loc[df1['age'] >65,'age_group'] = 4

In [ ]:
#Blood Pressure Group 
#Systolic Blood Pressure less than 120 and Diastolic Blood Pressure of less than 80
#Systolic Blood Pressure between 120 and 129 and Diastolic Blood Pressure of less than 80
#Systolic Blood Pressure greater than 130 or  Diastolic Blood Pressure of greater than 80


df1['bp_group'] = 0
df1.loc[(df['sys_bp'] <120)&(df1['dia_bp'] <80),'bp_group'].copy() = 0
df1.loc[(df['sys_bp'] >119)&(df1['sys_bp'] <130)&(df['dia_bp'] <80),'bp_group'].copy() = 1
df1.loc[(df['sys_bp'] >129)|(df1['dia_bp'] >80),'bp_group'].copy() = 2

In [ ]:
df2=df1.drop(columns=['seqn'])

In [8]:
target = df2["diabetes"] 
target_names = [1,2,3]

In [9]:
data = df2.drop("diabetes", axis=1) 
feature_names = data.columns 
data.head()

,gender,age,race,education,marital,income,household_size,insurance,gen_health,asthma,...,glob,trigs,wbc,hgb,hct,platelets,s_cotinine,a1c,hdl,grip_strength
0,1,21,7,2.0,6.0,1.0,2,1,3.0,2.0,...,2.9,54.0,6.0,12.7,36.1,157.0,0.654,5.0,47.0,50.3
1,0,21,1,2.0,6.0,3.0,4,2,3.0,1.0,...,2.8,83.0,6.9,15.1,44.4,226.0,0.221,5.2,40.0,90.1
2,0,21,2,3.0,5.0,4.0,3,1,3.0,2.0,...,3.0,256.0,8.2,14.4,41.3,266.0,0.011,5.1,38.0,72.7
3,0,21,1,2.0,5.0,4.0,4,1,4.0,2.0,...,2.6,57.0,6.6,14.7,43.0,206.0,16.300,5.1,55.0,86.6
4,0,21,2,3.0,5.0,10.0,2,1,2.0,2.0,...,2.9,70.0,7.8,15.6,45.1,306.0,212.000,6.0,39.0,94.4

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42, shuffle=True)

In [11]:
clf = tree.DecisionTreeClassifier() 
clf = clf.fit(X_train, y_train) 
clf.score(X_test, y_test)

0.8503067484662576

In [12]:
from sklearn.ensemble import RandomForestClassifier 
rf = RandomForestClassifier(n_estimators=75) 
rf = rf.fit(X_train, y_train) 
rf.score(X_test, y_test)

0.9153374233128835

In [40]:
feature_imp=sorted(zip(rf.feature_importances_, feature_names), reverse=True)

feature_imp

[(0.2084748274842914, 'a1c'),
 (0.12472078458644752, 'glucose'),
 (0.03253151465757831, 'alb_cr_ratio'),
 (0.025677252816608088, 'waist_cm'),
 (0.02427067717713758, 'age'),
 (0.021926647501082978, 't_chol'),
 (0.021503311118381403, 'bmi'),
 (0.019608843749065893, 'alk_phos'),
 (0.01940870967039362, 'grip_strength'),
 (0.01841786719186835, 'platelets'),
 (0.018159124596193583, 'trigs'),
 (0.017592036499098004, 'weight_kg'),
 (0.017560646489714248, 'cr'),
 (0.017384551074479115, 'ldh'),
 (0.017287765227729034, 'height_cm'),
 (0.01712237419003666, 'wbc'),
 (0.017003877447237133, 'cpk'),
 (0.016739939060509218, 'potassium'),
 (0.016430985949460616, 'sys_bp'),
 (0.016393567479167412, 'u_acid'),
 (0.016284051280473003, 'dia_bp'),
 (0.01599588665628933, 'bun'),
 (0.01557179078174018, 'hdl'),
 (0.014568672736519229, 'alt'),
 (0.014208418486297447, 'sodium'),
 (0.01403616108257039, 'ast'),
 (0.014015710881179857, 'glob'),
 (0.013719274366512624, 'hgb'),
 (0.01347372689801046, 'chloride'),
 (0.01346221283682198, 'hct'),
 (0.013289179779674865, 't_protein'),
 (0.012951404237097383, 'ca'),
 (0.012731238948120874, 'gen_health'),
 (0.012714075141025663, 'iron'),
 (0.011303270245799286, 'phos'),
 (0.010492089882339052, 'alb'),
 (0.010357665269217865, 't_bilirubin'),
 (0.010086209018200861, 's_cotinine'),
 (0.009670591554205748, 'bicarb'),
 (0.00939326066217, 'hypertension'),
 (0.00915526999733362, 'income'),
 (0.007282832432025759, 'household_size'),
 (0.006355350009125612, 'race'),
 (0.006123092905288607, 'education'),
 (0.005088467680499659, 'marital'),
 (0.0027834219546744804, 'smoker'),
 (0.002546914108691039, 'insurance'),
 (0.002214396017481088, 'gender'),
 (0.0021831681785084755, 'cancer'),
 (0.002114626913172547, 'asthma'),
 (0.001900022771415419, 'cad'),
 (0.0017497586971218248, 'copd'),
 (0.0014963845752325254, 'cva'),
 (0.0012430206799378396, 'chf'),
 (0.0012230783687450007, 'mi')]

In [13]:
remlist=['age', 'bmi','height_cm','waist_cm','weight_kg','dia_bp','dia_bp']
feats= []

for x in feature_imp: 
    if x[0]>0.01 & x[1] not in remlist:
        feats.append(x[1])
        


feats

2.0    2792
1.0     390
3.0      78
Name: diabetes, dtype: int64

In [14]:
group_list=["bmi_group", "age_group", "bp_group"]


for x in group_list: 
    if x not in feats: 
        feats.append(x)

2.0    4415
1.0     675
3.0     112
Name: diabetes, dtype: int64

In [15]:
diab_df =df[feats]

,gender,age,race,education,marital,income,household_size,insurance,gen_health,asthma,...,glob,trigs,wbc,hgb,hct,platelets,s_cotinine,a1c,hdl,grip_strength
0,1,21,7,2.0,6.0,1.0,2,1,3.0,2.0,...,2.9,54.0,6.0,12.7,36.1,157.0,0.654,5.0,47.0,50.3
1,0,21,1,2.0,6.0,3.0,4,2,3.0,1.0,...,2.8,83.0,6.9,15.1,44.4,226.0,0.221,5.2,40.0,90.1
2,0,21,2,3.0,5.0,4.0,3,1,3.0,2.0,...,3.0,256.0,8.2,14.4,41.3,266.0,0.011,5.1,38.0,72.7
3,0,21,1,2.0,5.0,4.0,4,1,4.0,2.0,...,2.6,57.0,6.6,14.7,43.0,206.0,16.300,5.1,55.0,86.6
4,0,21,2,3.0,5.0,10.0,2,1,2.0,2.0,...,2.9,70.0,7.8,15.6,45.1,306.0,212.000,6.0,39.0,94.4